<div id="wrapper">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>
  <!-- Sidebar -->
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <!-- TopBar -->
      <app-header></app-header>
      <!-- Topbar -->

      <!-- Container Fluid-->
      <div class="container-fluid" id="container-wrapper">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">DataTables</h1>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Home</a></li>
            <li class="breadcrumb-item">Tables</li>
            <li class="breadcrumb-item active" aria-current="page">DataTables</li>
          </ol>
        </div>
        <router-outlet></router-outlet>  

      </div>
      <!---Container Fluid-->
    </div>
    <!-- Footer -->
    <app-footer></app-footer>
    <!-- Footer -->
  </div>

</div>
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>